@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #eeeeee;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.img-box{
    text-align: center;
}

img{
    width: 170px;
    margin-top: 2%;
    border-radius: 200px;
    height: auto;
    max-width: 100%;
}


h1{
    font-size: 2rem;
    font-family: 'Bebas Neue', sans-serif;
}

h2{
    margin-bottom: 0.5%;
    font-family: Roboto;
    font-size: 1rem;
}

.links-group{
    margin-top: 2%;
}

.link-box{
    width: 850px;
    max-width: 100%;
    height: 58px;
    max-height: 100%;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    background-color: #2b7be4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;  
}

.link-box a{
    font-family: calibri;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
}

.link-box:hover{
    background-color: #23354D;
    box-shadow: 0.5px 1.5px 0.5px #181818;
}

.footer{
    font-family: calibri light;
    clear: both;
    float: left;
    font-size: 1.1em;
    text-align: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e4e4e4;
}